<html>
    <body>
        <h1>Create</h1>
        <form action="{% url 'event:new_event' %}" method="POST">
            Event Name : <input type="text" name="name" id="id_name" placeholder="Event name" /></br>
            Detail : <textarea type="text" name="detail" id="id_detail" placeholder="Event detail" cols="40" rows="5" style="width:200px; height:50px;" /></textarea></br>
            Location : <input type="text" name="location" id="id_location" placeholder="Event Location" /></br>
            Number people for start event : <input type="number" name="numset" id="id_numset" value="0" />
            <br><input type="submit" value="Submit" id="id_submit" />
            {% csrf_token %}
            </br><a href="/">Not now.
        </form>
    </body>
</html>