<html>
    <body>
        <h1>Event : {{event.event_name}}</h1>
        Detail : {{event.event_detail}}<br>
        Location : {{event.event_location}}<br>
        Start at : {{event.event_numset}} person<br>
        Total register : {{event.pcount}}


        <h3>Person register list</h3>
        {% if event.person_set.all %}
            {% for person in event.person_set.all %}
            <tr>
                <td>{{ forloop.counter }}: {{ person.fname }} - {{ person.lname }}</td>
            </tr>
            {% endfor %}           
        {% else %}
            <p>No anyone register</p>
        {% endif %}

        <h2>Register</h2>
        <form action="{% url 'event:event_detail' event.id %}" method="POST">
            {% csrf_token %}
            First Name : <input type="text" name="firstname" id="id_firstname" placeholder="Your first name" /> -   
            Last Name : <input type="text" name="lastname" id="id_lastname" placeholder="Your last name" /></br>
            <input type="submit" value="Submit" id="id_submit" />
        </form>
        <a href="/">Home
    </body>
</html>
